body {
  font-family: 'Rubik', sans-serif;
  font-size: 16px;
}

.graph {
  position: relative;
  width: 100%;
  height: 600px;
  outline: 1px solid #000;
  overflow: hidden;
}

.zoom {
  position: absolute;
  top: calc(50% - 40px);
  right: 10px;
  z-index: 1;
  border-radius: 4px;
  box-shadow: 0 8px 16px -2px rgba(10 10 10 / 10%), 
    0 0 0 1px rgb(10 10 10 / 2%);
}

.zoom__button {
  display: block;
  height: 40px;
  width: 40px;
  margin: 0;
  padding: 0;
  border: 0;
  border-radius: 4px;
  outline: 0;
  color: #4a4a4a;
  background-color: #fff;
  cursor: pointer;
}

.zoom__button:focus,
.zoom__button:hover {
  color: #0a0a0a;
}

.zoom__in {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.zoom__out {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.zoom_icon {
  display: inline-block;
  width: 18px;
  height: 18px;
  vertical-align: middle;
}

.zoom_icon__body {
  display: block;
  width: 100%;
  height: 100%;
  fill: currentColor;
  background: inherit;
  transform: translateX(0);
}

.node {
  cursor: pointer;
}

.node__stroke {
  fill: none;
  stroke: #0E91CC;
  opacity: 0;
  transition: opacity .1s ease-in-out 0s;
  will-change: opacity;
}

.node:hover .node__stroke {
  opacity: .5;
}

.node.active .node__stroke {
  opacity: .25;
  stroke: #0a0a0a;
}

.link__label,
.link__label_bg {
  font: 10px/1 a;
  font-family: inherit;
  text-anchor: middle;
}

.link__label {
  fill: #0a0a0a;
  cursor: default;
}

.link__label_bg {
  stroke: #fff;
  stroke-width: .8em;
}

.tooltip__list {
  fill: #fff;
  stroke-width: 2;
}

.tooltip__text {
  font: 16px/1 a;
  font-family: inherit;
  color: #4a4a4a;
}

.tooltip__name {
  font-weight: bold;
  color: #363636;
}
