body {
  font-family: 'Rubik', sans-serif;
}

.graph {
  width: 100%;
  height: 600px;
  outline: 1px solid #777;
  overflow: hidden;
}

.node {
  cursor: pointer;
}

.node__stroke {
  fill: none;
  stroke: #0E91CC;
  opacity: 0;
  transition: opacity .1s ease-in-out 0s;
  will-change: opacity;
}

.node:hover .node__stroke {
  opacity: .5;
}

.node.active .node__stroke {
  opacity: .5;
  stroke: #777;
}

.link__label,
.link__label_bg {
  font: 10px/1 a;
  font-family: inherit;
  text-anchor: middle;
}

.link__label {
  fill: #111;
  cursor: default;
}

.link__label_bg {
  stroke: #fff;
  stroke-width: .8em;
}

.tooltip__list {
  fill: #fff;
  stroke-width: 3;
}

.tooltip__text {
  font-size: 14px;
  font-family: inherit;
  color: #363636;
}

.tooltip__name {
  font-weight: bold;
}
